/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
system/certbot/conf/
system/home-assistant/*.storage
system/home-assistant/backups
system/home-assistant/.cskujawa@gmail.com.august.conf
game-servers/panel/logs/logs
game-servers/wings/logs/install/
game-servers/wings/data/wings/etc/config.yml
plexms/media
plexms/config/Library/Application Support/Plex Media Server/Cache
plexms/config/Library/Application Support/Plex Media Server/Crash Reports
plexms/config/Library/Application Support/Plex Media Server/Diagnostics
plexms/config/Library/Application Support/Plex Media Server/Logs
plexms/config/Library/Application Support/Plex Media Server/Media
plexms/config/Library/Application Support/Plex Media Server/Metadata
plexms/config/Library/Application Support/Plex Media Server/Plug-in Support
plexms/config/Library/Application Support/Plex Media Server/Preferences.xml
plexms/config/Library/Application Support/Plex Media Server/.LocalAdminToken
*.log