/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
system/certbot/conf/
system/home-assistant/*.storage
system/home-assistant/.storage/auth_provider.homeassistant
system/home-assistant/.storage/core.analytics
system/home-assistant/.storage/core.area_registry
system/home-assistant/.storage/core.config
system/home-assistant/.storage/core.config_entries
system/home-assistant/.storage/core.device_registry
system/home-assistant/.storage/core.entity_registry
system/home-assistant/.storage/core.restore_state
system/home-assistant/.storage/core.uuid
system/home-assistant/.storage/frontend*
system/home-assistant/.storage/http
system/home-assistant/.storage/http.auth
system/home-assistant/.storage/onboarding
system/home-assistant/.storage/person
game-servers/panel/logs/logs
game-servers/wings/logs/install/
*.log